<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Customer Bank</title>
    <link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="container">
        <h2 class="mt-3">Customer List</h2>
        <button class="btn btn-info mb-2" data-toggle="modal" data-target="#myModalAdd"><span class="fa fa-plus"></span>
            Tambah Customer</button>
        <table class="table table-dark" id="mytable">
            <thead>
                <tr>
                    <th>Customer ID</th>
                    <th>Nama</th>
                    <th>Alamat</th>
                    <th>Kode Pos</th>
                    <th>No Hp</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{ cust_id }}</td>
                    <td>{{ nama }}</td>
                    <td>{{ alamat }}</td>
                    <td>{{ kode_pos }}</td>
                    <td>{{ no_hp }}</td>
                    <td>{{ email }}</td>
                    <td>
                        <a href="javascript:void(0);" class="btn btn-warning edit" data-id="{{ cust_id }}"
                            data-cust_nama="{{ nama }}" data-cust_alamat="{{ alamat }}"
                            data-cust_kode_pos="{{ kode_pos }}" data-cust_no_hp="{{ no_hp }}"
                            data-cust_email="{{ email }}"><span class="fa fa-edit"></span></a>

                        <a href="javascript:void(0);" class="btn btn-danger delete" data-id="{{ cust_id }}"><span
                                class="fa fa-trash"></span></a>

                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>

    <!-- Add New Customer Modal-->
    <form action="/save" method="post">
        <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Tambah Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="cust_nama" class="form-control" placeholder="Nama" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_alamat" class="form-control" placeholder="Alamat" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_kode_pos" class="form-control" placeholder="Kode Pos"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_no_hp" class="form-control" placeholder="Nomor HP" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_email" class="form-control" placeholder="Email" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Edit Customer Modal-->
    <form action="/update" method="post">
        <div class="modal fade" id="EditModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <input type="text" name="cust_nama" class="form-control cust_nama" placeholder="Nama"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_alamat" class="form-control cust_alamat" placeholder="Alamat"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_kode_pos" class="form-control cust_kode_pos"
                                placeholder="Kode Pos" required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_no_hp" class="form-control cust_no_hp" placeholder="Nomor HP"
                                required>
                        </div>

                        <div class="form-group">
                            <input type="text" name="cust_email" class="form-control cust_email" placeholder="Email"
                                required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="cust_id" class="cust_id">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Delete Customer Modal-->
    <form id="add-row-form" action="/delete" method="post">
        <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="myModalLabel">Delete Customer</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <strong> Anda yakin mau menghapus data ini?</strong>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" name="id" class="form-control cust_id2" required>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script src="/assets/js/jquery-3.5.1.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script>
        $(document).ready(function () {
            //showing data to modal for edit record
            $('#mytable').on('click', '.edit', function () {
                var cust_id = $(this).data('id');
                var cust_nama = $(this).data('cust_nama');
                var cust_alamat = $(this).data('cust_alamat');
                var cust_kode_pos = $(this).data('cust_kode_pos');
                var cust_no_hp = $(this).data('cust_no_hp');
                var cust_email = $(this).data('cust_email');
                $('#EditModal').modal('show');
                $('.cust_nama').val(cust_nama);
                $('.cust_alamat').val(cust_alamat);
                $('.cust_kode_pos').val(cust_kode_pos);
                $('.cust_no_hp').val(cust_no_hp);
                $('.cust_email').val(cust_email);
                $('.cust_id').val(cust_id);
            });
            //showing modal for delete record
            $('#mytable').on('click', '.delete', function () {
                var cust_id = $(this).data('id');
                $('#DeleteModal').modal('show');
                $('.cust_id2').val(cust_id);
            });

        });
    </script>
</body>

</html>